<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>name</key>
        <string>15PUZZLE</string>
    </dict>
    <dict>
        <key>name</key>
        <string>BLINKY</string>
    </dict>
    <dict>
        <key>name</key>
        <string>BLITS</string>
    </dict>
    <dict>
        <key>name</key>
        <string>BRIX</string>
    </dict>
    <dict>
        <key>name</key>
        <string>CONNECT4</string>
    </dict>
    <dict>
        <key>name</key>
        <string>GUESS</string>
    </dict>
    <dict>
        <key>name</key>
        <string>HIDDEN</string>
    </dict>
    <dict>
        <key>name</key>
        <string>INVADERS</string>
    </dict>
    <dict>
        <key>name</key>
        <string>KALEID</string>
    </dict>
    <dict>
        <key>name</key>
        <string>MAZE</string>
    </dict>
    <dict>
        <key>name</key>
        <string>MERLIN</string>
    </dict>
    <dict>
        <key>name</key>
        <string>MISSILE</string>
    </dict>
    <dict>
        <key>name</key>
        <string>PONG</string>
    </dict>
    <dict>
        <key>name</key>
        <string>PONG2</string>
    </dict>
    <dict>
        <key>name</key>
        <string>PUZZLE</string>
    </dict>
    <dict>
        <key>name</key>
        <string>SYZYGY</string>
    </dict>
    <dict>
        <key>name</key>
        <string>TANK</string>
    </dict>
    <dict>
        <key>name</key>
        <string>TETRIS</string>
    </dict>
    <dict>
        <key>name</key>
        <string>TICTAC</string>
    </dict>
    <dict>
        <key>name</key>
        <string>UFO</string>
    </dict>
    <dict>
        <key>name</key>
        <string>VBRIX</string>
    </dict>
    <dict>
        <key>name</key>
        <string>VERS</string>
    </dict>
    <dict>
        <key>name</key>
        <string>WIPEOFF</string>
    </dict>
</array>
</plist>
